@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=poppins&display=swap");

body,
html {
    height: 100%;
}

.landing-page {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.video-box {
    .text-container {
        width: 80%;
        position: absolute;
        top: 40%;
        left: 50%;
        font-size: large;
        color: white;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px #151515;
        line-height: 150%;
    }
    .header {
        width: 100%;
        text-align: center;
        padding: 10px 10px 0px 10px;
        font-size: 60px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        opacity: 100%;
        line-height: 150%;
    }
    .description {
        text-align: center;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        line-height: 120%;
    }
    .desc{
        width: 60%;
    }
    .video-container {
        background-color: black;
        pointer-events: none;
        line-height: 0%;
        .video {
            width: 100%;
            max-height: max-content;
            opacity: 50%;
        }
    }
    .header-button {
        display: flex;
        justify-content: center;
        align-items: center;
        .button {
            z-index: 0;
            padding: 10px 15px;
            margin: 10px 5px;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            text-shadow: none;
            text-align: center;
            border-radius: 20px;
            background: orange;
            color: rgb(0, 0, 0);
            border: 1px solid orange;
            pointer-events: auto;
            cursor: pointer;
        }
        .button:hover {
            border: 1px solid;
            background: none;
            color: white;
        }
        .button-mitra {
            z-index: 0;
            padding: 10px 15px;
            margin: 10px 10px;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            text-shadow: none;
            text-align: center;
            border-radius: 20px;
            background: none;
            color: white;
            border: 1px solid white;
            pointer-events: auto;
            cursor: pointer;
        }
        .button-mitra:hover {
            border: 1px solid white;
            background: white;
            color: black;
        }
    }
}

.option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px -15px 20px black;
    .option-box {
        position: relative;
        object-fit: cover;
        width: 100%;
        float: left;
        z-index: 1;
        .option-text {
            width: 100%;
            background: none;
            z-index: 2;
            position: absolute;
        }
    }
    .option-box-second {
        position: relative;
        width: 100%;
        float: right;
        z-index: 1;
        box-shadow: inset 50px 50px 50px 50px black;
        .option-text-second {
            z-index: 2;
            position: absolute;
            width: 100%;
        }
    }
    .option-content {
        width: 100%;
        margin: 50px 0 5px 40px;
        font-size: 45px;
        font-family: "Helvetica", sans-serif;
        font-weight: 700;
        text-shadow: none;
        color: white;
        text-shadow: 1px 2px #151515;
    }
    .option-content-desc {
        width: 65%;
        margin: 10px 0 0 40px;
        font-family: "Helvetica", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: white;
        text-shadow: 1px 2px #151515;
        text-align: justify;
    }

    .option-button {
        margin: 20px 0 0 40px;
        padding: 10px 15px;
        width: 20%;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        text-shadow: none;
        text-align: center;
        border-radius: 20px;
        background: orange;
        color: rgb(0, 0, 0);
        border: 1px solid orange;
        pointer-events: auto;
        cursor: pointer;
    }

    .option-button:hover {
        border: 1px solid;
        background: none;
        color: white;
    }

    .option-button-second {
        float: right;
        margin: 20px 40px 0 20px;
        width: 20%;
        padding: 10px 15px;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        text-shadow: none;
        text-align: center;
        border-radius: 20px;
        background: orange;
        color: rgb(0, 0, 0);
        border: 1px solid orange;
        pointer-events: auto;
        cursor: pointer;
    }

    .option-button-second:hover {
        border: 1px solid;
        background: none;
        color: white;
    }

    .option-image {
        filter: brightness(0.5);
        object-fit: contain;
        img{
            width: 100%;
            height: auto;
        }
    }

    .option-content-second {
        width: 100%;
        margin: 50px 0 0px 0;
        padding-right: 40px;
        font-size: 45px;
        font-family: "Helvetica", sans-serif;
        font-weight: 700;
        text-shadow: none;
        color: white;
        text-shadow: 1px 2px #151515;
        text-align: right;
    }
    .option-content-desc-second {
        width: 100%;
        margin: 15px 0 0 20px;
        padding-right: 60px;
        padding-left: 30%;
        font-family: "Helvetica", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: white;
        text-shadow: 1px 2px #151515;
        text-align: justify;
    }
    .drone-photo {
        left: 50%;
        position: absolute;
        filter: drop-shadow(1px 2px 2px black);
        transform: translate(-50%, -80%);
        z-index: 3;
    }
}

@media only screen and (max-width: 768px) {
    .drone-photo {
        display: none;
    }
}

/* Article CSS */

/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
a,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Font family styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
}

h2, .category {
  font-family: 'Poppins', Arial, sans-serif;
}

/* Basic styling for the news reel section */
.news-reel {
  padding: 20px;
  background-color: currentColor;
}

/* Styling for the categories */
.categories {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* Styling for individual category */
.category {
  background: none;
  box-shadow: 0px 0px 1px 1px white;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.category.active {
  background-color: orange;
  border: 1px orange;
  box-shadow: none;
  color: black;
}

.category:hover {
  background-color: orange;
  border: 1px orange;
  box-shadow: none;
  color: black;
}

/* Styling for the section title */
.section-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

/* Styling for the news container */
.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 -20px;
}

/* Styling for the news items */
.news-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: calc(33.33% - 40px);
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 2px 10px gray;
}

.news-item:hover {
  transform: scale(1.05);
}

/* Styling for the news images */
.news-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Styling for the news content */
.news-content {
  text-align: center;
}

/* Styling for the news titles */
.news-title {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Styling for the news summaries */
.news-summary {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Styling for the "Read More" button */
.read-more-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.read-more-link:hover {
  background-color: black;
}

/* Styling for the contained box */
.contained-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Styling for the box title */
.box-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styling for the box content */
.box-content {
  text-align: center;
}

/* Styling for the box news title */
.box-content .news-title {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Styling for the box news summary */
.box-content .news-summary {
  font-size: 16px;
  margin-bottom: 20px;
}